@model IList<Umi.Core.Endpoint>
<!DOCTYPE html>
<html>
<head>
    <title>Umi - status page</title>
    <style>
        body {
            background-color: #EFEFEA;
            margin: 0px;
        }

        * {
            font-family: Consolas, monaco, monospace;
        }

        header {
            margin: 0px;
            padding: 1% 22%;
            width: 56%;
            height: 80px;
            color: #338ba4;
            background-image: url('@ViewBag.LocatorUrl/assets/logoUmi.png');
            background-size: 86px;
            background-repeat: no-repeat;
            background-position: center;
        }

        article {
            margin: 0px;
            padding: 1% 5%;
            width: 50%;
            margin: 0px auto;
            height: 95%;
            background-color: #FFF;
        }

        .endpoint {
            color: #87A9FF;
            font-weight: bold;
        }
        ul {
            padding-left: 0px;
        }
        li {
            list-style-type: none;
            background-image: url('@ViewBag.LocatorUrl/assets/dot.png');
            background-repeat: repeat-x;
            background-position: 6px;
        }
        li.header {
         background-image: none;
        }
        h4 {
            margin-bottom: 0px;
        }

        .left {
            width:95%;
            display: inline-block;
            margin: 3px 0px;
        }

         .right {
            
            display: inline-block;
            margin: 3px 0px;
            float: right;

        }

        .left a, .right abbr {
            background-color: white;
        }


        .nok {
            color: tomato;

        }

    </style>
</head>
<body>
    <article>
        <header> </header>
        @if (Model.Any())
        {
            var category = "";
            <p>
                These application Uri's are currently present and checked;
            </p>

            <ul>
                @foreach (var item in Model.OrderBy(x => x.TestConfiguration.Category))
                {
                    if (!category.Equals(item.TestConfiguration.Category))
                    {
                        category = item.TestConfiguration.Category;
                        <li class="header"><h4>@category</h4></li>
                    }

                    <li>
                        <span class="left">
                            <a href="@item.Uri" class="endpoint @(!item.TestResult.Ok ? "nok": null)" target="_blank">@item.Uri</a>
                        </span><span class="right">   
                            @if (item.TestResult.Ok)
                            {
                                <abbr title="Status code returned @item.TestResult.StatusCode (@((int)item.TestResult.StatusCode))">OK</abbr>
                            }
                            else
                            {
                                <abbr class="nok" title="Status code returned @item.TestResult.StatusCode and should been @item.TestConfiguration.TestAsSuccessStatusCode">NOK</abbr>
                            }
                        </span>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>
                No endpoints registered, please read the instructions at <a href="https://github.com/CasperCBroeren/Umi" target="_blank">https://github.com/CasperCBroeren/Umi</a>
            </p>
        }
    </article>
</body>
</html>