@model IList<Umi.Core.Endpoint>
<!DOCTYPE html>
<html>
<head>
    <title>Umi</title>
    <style>
        body {
            background-color: #EFEFEA;
            margin: 0px;
        }

        * {
            font-family: "Open-Sans", Arial, "Sans-Serif";
        }

        header {
            margin: 0px;
            padding: 1% 22%;
            background-color: #c0e4f1;
            width: 56%;
            height: 5%;
            color: #338ba4;
            background-image: url('@ViewBag.LocatorUrl/assets/logoUmi.png');
            background-size: 86px;
            background-repeat: no-repeat;
            background-position-y: 50%;
            background-position-x: 8%;
        }

        article {
            margin: 0px;
            padding: 1% 5%;
            width: 50%;
            margin: 0px auto;
            height: 95%;
            background-color: #FFF;
        }

        .endpoint {
            color: #87A9FF;
            font-weight: bold;
        }

        li {
            list-style-type: none;
        }

        h4 {
            margin-bottom: 3px;
        }

        .left {
            width: 90%;
            display: inline-block;
            margin: 10px 0px;
        }

        .right {
            width: 10%;
        }

        .ok, .nok {
            border-radius: 10px;
            background-color: tomato;
            border-radius: 20px;
            padding: 6px 8px;
            color: white;
        }

        .ok {
            background-color: #a8e052;
            padding: 6px 8px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Status page</h1>

    </header>
    <article>
        @if (Model.Any())
        {
            var category = "";
            <p>
                These application Uri's are currently present.
            </p>

            <ul>
                @foreach (var item in Model.OrderBy(x=> x.TestConfiguration.Category))
                {
                     if (!category.Equals(item.TestConfiguration.Category))
                     {
                         category = item.TestConfiguration.Category;

                         <li class="header"><h4>@category</h4></li>
                     }
                    <li>
                        <span class="left">
                            <a href="@item.Uri" class="endpoint" target="_blank">@item.Uri</a>
                        </span>
                        <span class="right">
                            @if (item.TestResult.Ok)
                            {
                                <span class="ok" title="Status code returned @item.TestResult.StatusCode (@((int)item.TestResult.StatusCode))">&#10004;</span>
                            }
                            else
                            {
                                <span class="nok" title="Status code returned @item.TestResult.StatusCode and should been @item.TestConfiguration.TestAsSuccessStatusCode">&#10006;</span>
                            }
                        </span>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>
                No endpoints registered, please read the instructions at <a href="https://github.com/CasperCBroeren/Umi" target="_blank">https://github.com/CasperCBroeren/Umi</a>
            </p>
        }
    </article>
</body>
</html>